.overwhelmed {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overwhelmed label {
  width: fit-content;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-content: center;
  text-transform: capitalize;
}

.overwhelmed input {
  accent-color: #553c97;
  cursor: pointer;
  width: 20px;
  aspect-ratio: 1;
  margin: 0;
  margin-right: 10px;
}
